* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url("../images/background.jpg");
}

header {
    background: #333;
    padding: 40px 0;
    border-bottom: 3px solid #96c4ff;

}

.container {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    float:left;
    color:white
}

p { 
    margin: 15px 0;
    line-height: 130%;
}


